extends layout
block	cssAlone
	link(rel='stylesheet', href='/stylesheets/projekktor.style.css',media='screen')

block	info
	div#videoJs_box
		p#movie_title	我是谁 没有绝对安全的系统
		div#player_a.projekktor


block jsAlone
	script(src='/javascripts/projekktor-1.3.09.min.js')
	script	alihanniba.movie()

