/*
*应用webfont字体样式
*/
@font-face {
    font-family: "iconfont";
    src: url('iconfont.eot'); /* IE9*/
    src: url('iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('iconfont.woff') format('woff'), /* chrome, firefox */
    url('iconfont.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
    url('iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}
/*
*定义文字特殊样式
*/
@font-face {
font-family: 'myWordFont';
src: url('wordfont/CaiYunHanMaoBi-Xing.eot');
src: url('wordfont/CaiYunHanMaoBi-Xing.eot?#iefix') format('embedded-opentype'),
     url('wordfont/CaiYunHanMaoBi-Xing.woff') format('woff'),
     url('wordfont/CaiYunHanMaoBi-Xing.ttf') format('truetype'),
     url('wordfont/CaiYunHanMaoBi-Xing.svg#CaiYunHanMaoBi-Xing') format('svg');
    font-weight: normal;
    font-style: normal;
   }

.info_about_me {
    font-family:"iconfont" !important;
    font-size:16px;
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}
html,body{
    min-width: 1200px;
}

/**************************************************************************
          #首页样式
***************************************************************************/

#top_nav{
    height:30px;
    width: 100%;
    padding-bottom: 20px;
    padding-top: 20px;
    background: #4183c4;
}
#top_nav .header_nav{
    height:30px;
    width:1000px;
    margin: 0 auto;
    background: #4183c4;
    position: relative;
    font-family: Arial,"Hiragino Sans GB","冬青黑","Microsoft YaHei","微软雅黑",SimSun,"宋体",Helvetica,Tahoma,Arial sans-serif;
}
#alihanniba_name{
    font-size: 30px;
    line-height: 30px;
    position: absolute;
    top:0;
    left: 40px;
    color: #fff;
    font-family: 'myWordFont';
}
#alihanniba_logo{
    height:28px;
    width: 28px;
    border-radius: 50%;
    border:1px solid #fff;
    transition: -webkit-transform 0.5s ease-out;
    -webkit-transition: -webkit-transform 0.5s ease-out;
    -moz-transition: -moz-transform 0.5s ease-out;
    -o-transition: -o-transform 0.5s ease-out;
    -ms-transition: -ms-transform 0.5s ease-out;
}
#alihanniba_logo:hover{
    cursor: pointer;
    transform: rotateZ(360deg);
    -ms-transform: rotateZ(360deg);
    -moz-transform: rotateZ(360deg);
    -webkit-transform: rotateZ(360deg);
    -o-transform: rotateZ(360deg);
}
#top_nav .header_nav .show_nav{
    float: right;
}
#top_nav .header_nav .show_nav li{
    display: inline-block;
    height:30px;
    line-height: 30px;
    text-align: center;
    margin-left: 40px;
}
#top_nav .header_nav .show_nav li a{
    color: rgba(255,255,255,.5);
}
#top_nav .header_nav .show_nav .showing{
    color: #fff;
}
#top_nav .header_nav .show_nav li a:hover{
    color: #fff;
    cursor: pointer;
}
#banner{
    height:275px;
    width:100%;
    background: #4183c4;
    display: inline-block;
}
#banner .show_info{
    width:1000px;
    height:150px;
    background: #4183c4;
    margin: 62.5px auto;
    font-family: Arial,"Hiragino Sans GB","冬青黑","Microsoft YaHei","微软雅黑",SimSun,"宋体",Helvetica,Tahoma,Arial sans-serif;
}
#show_job{
    font-size: 45px;
    color: rgba(225,225,225,.9);
    line-height: 90px;
    font-family: 'myWordFont';
}
#show_job:hover{
    color: #fff;
}
#details{
    font-size: 16px;
    line-height: 30px;
    color: #fff;
}
#details .info_about_me{
    margin-right: 10px;
}
#details .info_about_me a{
    color: #fff;
    font-family: 'myWordFont';
}
/*
*要等到所有图形选择好以后在加载字体文件,不然字体文件会信息不全
*/
#details .location_about_me:before{
    content: "\e650";
}
#details .ability_about_me:before{
    content: "\e758";
}
#details .sina_weibo:before{
    content: "\e66e";
}
#details .github_about_me:before{
    content: "\e70a";
}
#details .info_about_me:hover{
    cursor: pointer;
}
#details .info_about_me:hover:before{
    color: #ff4400;
}
#ability_info{
    padding-left: 10px;
    width: 126px;
    margin-left: 180px;
    margin-top: 2px;
    position: relative;
    color: rgb(255,255,255);
    border-radius: 4px;
    background: #000;
    display: none;
}
#ability_info span{
    height:18px;
    font-size: 16px;
    line-height: 18px;
}
#ability_info:before{
    content:"";
    position: absolute;
    top:-20px;
    border:10px solid transparent;
    border-bottom-color: #000;
}
footer{
    height:50px;
    width:100%;
    background: #fff;
}
footer p{
    height:50px;
    width: 1000px;
    line-height: 50px;
    font-size: 16px;
    color: #999999;
    margin: 0 auto;
    text-align: center;
    font-family: 'myWordFont';
}
footer p a{
    color: #999999;
}







/**************************************************************************
          #写日记页面样式
***************************************************************************/
#contains{
    width: 100%;
    height: 500px;
    background: #4183c4;
    display: inline-block;
}
#editor_box{
    width:1000px;
    height: 500px;
    margin: 0 auto;
    margin-top: 50px;
}
#editor_id{
    width:1000px;
    height:400px;
}
